// @import '../../styles/normalize'

// @import '~s-grid/s-grid-settings'
// @import '~s-grid/s-grid-functions'

@import '../../styles/settings'

.container
    margin 0 auto

.header
    height 80px
    line-height 80px

.hmr-test
    color red
